<div class="container">
        <form [formGroup]="searchForm" >
                <p-fieldset legend="ค้นหา">
                        <div class="searchPanel">
                                <div class="ui-g">
                                        <div class="ui-g-12 ui-md-3 font-right">รหัสผู้ซื้อ : </div>
                                        <div class="ui-g-12 ui-md-9"><input type="text" numberOnly  formControlName="byrCode" #byrCode maxlength="6"/></div>
                                </div>
                                <div class="ui-g">
                                        <div class="ui-g-12 ui-md-3 font-right">ชื่อผู้ซื้อ : </div>
                                        <div class="ui-g-12 ui-md-9"><input #supCode type="text" formControlName="byrNameTh"/></div>
                                </div>
                                <div class="ui-g">
                                                <div class="ui-g-12 ui-md-4 font-right"></div>
                                                <div class="ui-g-12 ui-md-8">
                                        
                                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                                <button icon="ui-icon-search" pButton label="ค้นหา" (click)="onSearchBuyer()"> </button>
                                                &nbsp;
                                                <button icon="ui-icon-cancel" pButton label="ยกเลิก" (click)="cancelForm()" ></button>
                                        </div>
                                </div>
                        </div>


                        <div class="ui-g-12" style="text-align: right">
                                        <button icon="ui-icon-add-circle" pButton label="เพิ่ม" (click)="onAddBuyer()" ></button>
                                        &nbsp;
                                        <button icon="ui-icon-delete" pButton label="ลบ" (click)="onDeleteBuyer()" ></button>
                                </div>
                                <div class="ui-g-12">
                                                
                                        <p-table #tb [columns]="cols" [value]="tbBuyerList" [lazy]="true" dataKey="byrSerial" (onLazyLoad)="loadCarsLazy($event)" [paginator]="true" 
                                        [rows]="currentRows" [totalRecords]="totalRecords"  [loading]="loading" [(selection)]="tbBuyerSelectList" [responsive]="true"  
                                        paginatorPosition="top" [rowsPerPageOptions]="[5,10,20,30]" >    
                                                <ng-template pTemplate="caption">                                               
                                                        ตารางข้อมูลผู้ซื้อ (Buyer)                                                   
                                                        <!-- <p-paginator #p [rows]="currentRows" [totalRecords]="totalRecords" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[5,10,20,30]"></p-paginator> -->
                                                </ng-template>
                                                <!-- <ng-template pTemplate="colgroup" let-columns>
                                                        <colgroup>
                                                                <col style="width: 3em">
                                                                <col *ngFor="let col of columns" style="color:black; width:250px">
                                                                <col style="width:4em">
                                                        </colgroup>
                                                </ng-template> -->
                
                                                <ng-template pTemplate="header" let-columns>
                                                        <tr>
                                                        <th style="width: 3em">
                                                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                                        </th>
                                                        <th *ngFor="let col of columns" style="text-align: center">
                                                                {{col.header}}
                                                        </th>
                                                        <th style="width:4em"></th>
                                                        </tr>
                                                </ng-template>
                                                
                                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                                        <tr [pSelectableRow]="rowData">
                                                                <td>
                                                                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                                                </td>
                                                                <!-- <td *ngFor="let col of columns" [ngStyle]="col.style">
                                                                        {{rowData[col.field]}}
                                                                </td> -->
                                                                <td *ngFor="let col of columns" [ngStyle]="col.style">
                                                                        <ng-container [ngSwitch]="col.field">
                                                                                <ng-container *ngSwitchCase="'byrPplno'">
                                                                                         <ng-container>
                                                                                                {{ rowData[col.field] }} 
                                                                                         </ng-container>
                                                                                </ng-container> 
                                                                                <ng-container *ngSwitchDefault>
                                                                                       {{ rowData[col.field] }}
                                                                                </ng-container>                                                                            
                                                                        </ng-container>
                                                                </td>
                                                                <td >
                                                                        <button pButton icon="ui-icon-edit" (click)="onEditBuyer(rowData)"></button>
                                                                </td>
                                                        </tr>
                                                </ng-template>

                                                <!-- <ng-template pTemplate="summary">
                                                        <p-paginator #p [rows]="currentRows" [totalRecords]="totalRecords" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[5,10,20,30]"></p-paginator>
                                                </ng-template> -->
                                        </p-table>
                                </div>
                </p-fieldset>
        </form>
        <!-- <div>
                <label>Captcha</label>&nbsp;&nbsp;
                <div *ngIf="captchaUrlShow">
                        <input type="text" name="code" [(ngModel)]="code" class="captcha" />
                </div>
                <canvas #captcha id="captcha" class="canvas-captcha" ></canvas> &nbsp;&nbsp;
                <button icon="ui-icon-refresh" pButton (click)="setCanvasCaptcha()"></button>
                <input type="text" name="code" [(ngModel)]="code" class="captcha" />
        </div> -->
</div>
















